<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sj.board.dao.AttachmentMapper">

    <resultMap id="file" type="AttachmentDto">
        <id column="FILE_ID" property="fileId"/>
        <result column="POSTS_ID" property="postsId"/>
        <result column="REG_USER_ID" property="regUserId"/>
        <result column="MODIFY_USER_ID" property="modifyUserId"/>
        <result column="ORIGIN_NAME" property="originName"/>
        <result column="SAVE_NAME" property="saveName"/>
        <result column="FILE_PATH" property="filePath"/>
        <result column="FILE_EXT" property="fileExt"/>
        <result column="FILE_SIZE" property="fileSize"/>
        <result column="FILE_REG_DATE" property="fileRegDate"/>
        <result column="FILE_MODIFY_DATE" property="fileModifyDate"/>
        <result column="STATUS" property="status"/>
        <result column="CONTENT_TYPE" property="contentType"/>
    </resultMap>

    <!-- 게시글 조회 시 collection select query-->
    <select id="findByPostsId" resultMap="file">
        SELECT
               FILE_ID
             , POSTS_ID
             , REG_USER_ID
             , MODIFY_USER_ID
             , ORIGIN_NAME
             , SAVE_NAME
             , FILE_PATH
             , FILE_EXT
             , FILE_SIZE
             , FILE_REG_DATE
             , FILE_MODIFY_DATE
             , STATUS
             , CONTENT_TYPE
        FROM ATTACHMENT
        WHERE POSTS_ID = #{POSTS_ID}
        AND STATUS != 'DELETED'
        ORDER BY FILE_MODIFY_DATE DESC
    </select>

    <!-- 게시글 등록 시 파일 등록-->
    <insert id="insertFiles" parameterType="java.util.HashMap">
        <foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO ATTACHMENT(
                FILE_ID, POSTS_ID, REG_USER_ID
                , MODIFY_USER_ID, ORIGIN_NAME, SAVE_NAME
                , FILE_PATH, FILE_EXT, FILE_SIZE
                , FILE_REG_DATE, FILE_MODIFY_DATE, STATUS, CONTENT_TYPE
            )
            VALUES
            (GET_ACCESS_ID(), #{postId}, #{item.regUserId}
            ,#{item.modifyUserId}, #{item.originName}, #{item.saveName}
            ,#{item.filePath}, #{item.fileExt}, #{item.fileSize}
            ,SYSDATE, SYSDATE, DEFAULT, #{item.contentType})

        </foreach>
    </insert>

    <!-- 게시글 삭제 시 파일 삭제-->
    <update id="deleteByPostsId" parameterType="Long">
        UPDATE ATTACHMENT
        SET STATUS = 'DELETED',
        FILE_MODIFY_DATE = SYSDATE
        WHERE POSTS_ID = #{postsId}
        <!-- 수정자 -->
    </update>

    <!-- 파일 삭제 -->
    <update id="deleteFile" parameterType="java.util.HashMap">
        UPDATE ATTACHMENT
        SET STATUS = 'DELETED',
        FILE_MODIFY_DATE = SYSDATE
        WHERE POSTS_ID = #{postsId}
        AND FILE_ID = #{fileId}
        <selectKey order="AFTER" resultType="String" keyProperty="filePath" keyColumn="FILE_PATH">
            SELECT FILE_PATH FROM ATTACHMENT WHERE POSTS_ID = #{postsId} AND FILE_ID = #{fileId}
        </selectKey>
    </update>


    <!-- 파일 다운로드 -->
    <select id="findById" parameterType="Long" resultMap="file">
          SELECT
               FILE_ID
             , POSTS_ID
             , REG_USER_ID
             , MODIFY_USER_ID
             , ORIGIN_NAME
             , SAVE_NAME
             , FILE_PATH
             , FILE_EXT
             , FILE_SIZE
             , FILE_REG_DATE
             , FILE_MODIFY_DATE
             , STATUS
             , CONTENT_TYPE
        FROM ATTACHMENT
        WHERE FILE_ID = #{fileId}
    </select>

    <!-- 파일 추가 등록-->
    <insert id="addFiles" parameterType="java.util.HashMap">
        <foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO ATTACHMENT(
            FILE_ID, POSTS_ID, REG_USER_ID
            , MODIFY_USER_ID, ORIGIN_NAME, SAVE_NAME
            , FILE_PATH, FILE_EXT, FILE_SIZE
            , FILE_REG_DATE, FILE_MODIFY_DATE, STATUS, CONTENT_TYPE
            )
            VALUES
            (GET_ACCESS_ID(), #{item.postsId}, #{item.regUserId}
            ,#{item.modifyUserId}, #{item.originName}, #{item.saveName}
            ,#{item.filePath}, #{item.fileExt}, #{item.fileSize}
            ,SYSDATE, SYSDATE, DEFAULT, #{item.contentType} )
        </foreach>
    </insert>

</mapper>